.footer-section-1 img {
    width: 42%;
    margin-bottom: 13px;
}

.main-footer-container {
    background: #E8B320;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 1280px;
  margin: auto;
  width: 100%;
    padding: 28px 122px 53px 122px;
}

.icon,
.icon-2 {
    display: flex;
    gap: 10px;
}

.fa-phone {
    color: green;
}

.fa-envelope {
    color: green;
}

.fa-location-dot {
    color: green;
}

.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}


.footer-section-2 h1,
.footer-section-3 h1 {
    font-size: 22px;
}

.footer-section-3,
.footer-section-2,
.footer-section-1,
.footer-section-4 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-section-1 img,
.footer-section-2 h1,
.footer-section-3 h1,
.footer-section-4 img {
    margin-bottom: 8px;

}

.inner-hr {
    width: 100%;
    height: 1px;
    background-color: #332f2f;
}

.inner-footer {
    text-align: center;
    padding: 11px;
    font-size: 14px;
    font-weight: 400;
}

.inner-footer-color {
    background: #E8B320;
}
.footer-section-2 li a{
    color: black;
    text-decoration: none;
    list-style: none !important;
}