.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
    grid-gap: 32px;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.main-content-container{
    width: 85%;
    margin: auto;
}
.content-heading{
    margin-top: 40px;
}